<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_AddUserToOrderComment>
            <version>0.1.0</version>
            <depends>
                <Mage_Checkout/>
                <Mage_Sales/>
                <Mage_Adminhtml/>
            </depends>
        </Ikonoshirt_AddUserToOrderComment>
    </modules>
    <global>
        <models>
            <addUserToOrderComment>
                <class>Ikonoshirt_AddUserToOrderComment_Model</class>
            </addUserToOrderComment>
        </models>
        <resources>
            <addUserToOrderComment_setup>
                <setup>
                    <module>Ikonoshirt_AddUserToOrderComment</module>
                </setup>
            </addUserToOrderComment_setup>
        </resources>
        <events>
            <sales_order_status_history_save_before>
                <observers>
                    <addUserToOrderComment>
                        <type>singleton</type>
                        <class>addUserToOrderComment/observer</class>
                        <method>addUserToOrderComment</method>
                    </addUserToOrderComment>
                </observers>
            </sales_order_status_history_save_before>
        </events>
    </global>
</config>